# Python files
*.py text eol=lf

# Jupyter notebooks
*.ipynb text eol=lf

# Markdown and text files
*.md text eol=lf
*.txt text eol=lf

# YAML and configuration files
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf

# Ignore binaries / do not touch line endings
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.pkl binary
*.zip binary
*.tar.gz binary